.header-main{
font-size: 42px;
}
.Button{
   float:left;
 
}
.App{
    text-align: center;
}
.TaskClass{
    display:flex;
    margin:10px;
    padding:10px;
    color: blue;
    border-width: 10px;
    border: solid black;
    text-align:left;
    font-size:larger;
    align-items: center;
    background-color: beige;
    
}

.TaskDesc{  
    flex: 1;
}
.TaskButton{
    display:flex;
    align-items: center;
    margin:20px;
   gap:20px;
   
}
